body {
	font-family: Tahoma, sans-serif;
	font-size:24px;
	margin:0;
	padding:0;
}
* {
	box-sizing: border-box;
}
.col {
	width:50%;
	float:left;
	padding:20px;
}
img {
	max-width:100%;
}
h1 {
	padding: 20px;
	margin: 0;
	font-size: 28px;
	border-bottom: 2px solid #f00;
	color: #a20000;
}
a {
	text-decoration:none;
	color:red
}
a:visited{
	color:orange;
}
a:hover{
	color:green;
}
a:active{
	color: blue;
}
ul {
	list-style:none;
}
ul li {
	display:inline-block;
}
ul li a {
	display:block;
	padding:10px 20px;
	margin:0 5px;
	background: #efefef;
	border-radius:5px;
	border:1px solid #ccc;
}
ul li a:hover {
	color:#fff;
	background: #ccc;
}