/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  box-sizing: border-box;
}

/* general */
.container {
  width: 960px;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}
.section-divider {
  padding-top: 22px;
  margin-bottom: 22px;
  /* margin: 10px; */
  border-bottom: 10px dashed #00a5ff;
}
/* general end */

/* header */
header {
  background: rgb(23, 28, 70);
  padding: 20px 0;
}
.header-top-bg {
  background: url(../images/shutterstock_684898093.0.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  max-height: 80vh;
  align-items: center;
}
.header-top-bg-2 {
  background-image: url(../images/Sky-Ocean-Rescue-Web.png);
  height: 200px;
  background-position: center 34%;
}
.header-top-bg-title {
  font-size: 64px;
  color: #fff;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
nav {
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
  border: 2px solid #fff0;
  border-left: none;
  border-right: none;
  transition: all 0.2s;
  padding: 6px 0;
  margin: 4px 0;
}

nav ul li a:hover,
nav ul li a.active {
  border: 2px solid #fff;
  color: #fff;
  border-left: none;
  border-right: none;
}

nav .dropdown:hover ul {
  display: block;
}

nav ul li ul {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px;
  left: 0;
}

nav ul li ul li a {
  color: rgb(23, 28, 70);
}
nav ul li ul li a:hover,
nav ul li ul li a.active {
  color: rgb(23, 28, 70);
  border-bottom: 2px solid #ccc;
}

.header-right {
  float: right;
}
a.btn_register {
  background: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  /* font-weight: 800; */
  display: inline-block;
  color: rgb(23, 28, 70);
}
a.btn_donate {
  background: #42b31d;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  color: #fff;
}

.donate-container {
  float: right;
}

.search {
  float: left;
  padding: 4px 0;
  margin: 0 10px 0 0;
}

.search input {
  border: none;
  background: #fff;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}
/* header end */

.row:after {
  content: "";
  clear: both;
  display: block;

  /* display: flex; */
}

.col {
  width: 25%;
  /* flex-grow: 0; */
  padding: 10px;
  float: left;
}

/* image section */
.image-left {
  width: 50%;
  float: left;
}
.image-left img {
  width: 100%;
}
.text-right {
  width: 50%;
  float: right;
  padding-left: 22px;
  padding-top: 22px;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.text-normal {
  font-style: normal;
}

/* stats */
.stats ul {
  list-style-image: url(../images/arrow-blue.png);
}

/* footer */

footer {
  background: rgb(23, 28, 70);
  color: #fff;
  padding: 20px 0;
}

footer a {
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* footer end */

@media screen and (max-width: 980px) {
  .header-top-bg-title {
    font-size: 48px;
  }
  .container {
    width: calc(100% - 20px);
  }
  .col {
    width: 50%;
    /* width: 100%; */
    /* display: block; */
  }
}

@media screen and (max-width: 600px) {
  .header-top-bg-title {
    font-size: 32apx;
  }
  .container {
    width: calc(100% - 20px);
  }
  .col {
    width: 100%;
    /* display: block; */
  }
}

.has-aside {
  float: left;
  width: 600px;
}
aside {
  float: left;
  width: 360px;
  padding: 0 0 0 20px;
}

.article-featured-image {
  max-width: 100%;
  border: 1px solid #000;
  box-shadow: 5px 5px 5px #666;
  width: calc(50% - 10px);
  display: block;
  float: left;
  margin-right: 10px;
}

.content {
  float: left;
  width: 50%;
}

.content p {
  margin: 0;
  padding: 0;
}

article {
  margin: 0 0 20px 0;
  border-bottom: 4px dashed;
  padding-bottom: 20px;
}
article::after {
  content: "";
  display: block;
  clear: both;
}

.article-meta {
  font-size: 12px;
  font-style: italic;
  margin: 0 0 10px 0;
  color: #666;
}

article h2 a {
  text-decoration: none;
  color: #000;
}
.form-container {
    margin: 0 auto;
    max-width: 400px;
}

.form-container input {
  display: block;
  margin: 0 0 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.form-container .form.buttons {
  text-align: right;
}

.form-container .form.buttons input {
  animation-fill-mode: backwards;
  display: inline-block;
  width: 100px;
  border: none;
  background: green;
  color: #fff;
}

.form-container .form.buttons input.reset {
  background: yellow;
  color: #000;
}
